body {
    background-image: url('unnamed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: green;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.score {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    font-size: 2rem;
}

div.buttons {
    display: flex;
    align-self: flex-end;
}

button {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    border-radius: .5rem;
}